.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/sonarlint/
.idea/sonarlint.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
http-client.private.env.json
.idea/caches/build_file_checksums.ser
.idea/.cache/.Apifox_Helper
.idea/ApifoxUploaderProjectSetting.xml
.idea/**/copilot.data.migration.*.xml

cmake-build-*/
build/
_build/
out/build/
CMakeFiles/
CMakeCache.txt

CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
CMakeLists.txt.user

.vs/
*.VC.db
*.VC.opendb
*.VC.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates
Debug/
Release/
x64/
x86/
ipch/
CMakeSettings.json

*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.exp
*.pdb
*.idb

.ninja_deps
.ninja_log
build.ninja

*.log
*.tmp
*.temp
*.swp
*~